{
  "comments": true,
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "modules": "umd"
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "universal-import",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
