.box {
  padding: 10px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  background-color: gray;
  margin-bottom: 15px;
}

.movieCard h1 {
  min-height: 10vw;
  width: 100%;
  transition: background-color 500ms ease;
}

.movieCard h1:empty {
  background-color: lightblue;
}

.movieCard img {
  object-fit: contain;
  align-self: center;
}

.movieCard img:empty {
  width: 200px;
  height: 200px;
}
