.msg-navbar {
  display: flex;
  background-color: crimson;
}

.msg-navbar a {
  padding: 10px;
  color: white;
  text-decoration: none;
}

.msg-email {
  min-width: 50vw;
  min-height: 22px;
  background-color: gray;
}

.msg-body {
  min-width: 30vw;
  min-height: 18px;
  background-color: lightgray;
}

.msg-link {

}