$placeholder-color: #d0caca;

.movieCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  h1 {
    background-color: transparent;
    transition: background-color 100ms ease-in;

    &:empty {
      min-height: 10vh;
      width: 50%;
      transition: background-color 100ms ease-in;
      background-color: $placeholder-color;
    }
  }

  img {
    &[src=""] {
      transition: background-color 100ms ease-in;
      background-color: $placeholder-color;
    }
    
    background-color: transparent;
    transition: background-color 100ms ease-in;
    width: 33vw;
    height: 33vh;
  }
}
