$placeholder-color: #d0caca;

.movieCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  h1 {
    background-color: transparent;
    transition: background-color 100ms ease-in;

    &:empty {
      min-height: 10vh;
      width: 50%;
      transition: background-color 100ms ease-in;
      background-color: $placeholder-color;
    }
  }

  img {
    object-fit: contain;
    height: 400px;
    width: 50%;
    @media (max-width: 750px) {
      width: 100%;
    }

    background-color: transparent;
    transition: background-color 100ms ease-in;
    transition: filter 500ms ease;

    &.blur-image {
      filter: blur(5px);
    }

    &[src=""] {
      height: 400px;
      transition: background-color 100ms ease-in;
      background-color: $placeholder-color;
    }
  }
}
